:host {
  display: inline-block;
  margin-right: 5px;

  &.underline {
    text-decoration: underline;
  }

  &.italic{
    font-style: italic;
  }

  &.bold{
    font-weight: bold;
  }

  &.selected {
    background-color: yellow;
  }
}
